body{
    margin-top: 87px;
    margin-left: 120px;
    margin-right: 120px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
header{
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 34px;
    color: #3A3A3A;
}
#start{
    font-size: 52px;
    margin-top: 145.8px;
    margin-bottom: 16px;
}
#products{
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 26.1px;
}
.prebook{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
}
.fa-arrow-right{
    margin-left: 8px;
}
.start{
    display:flex;
    justify-content: space-between;
}
.journey{
    height: 270px;
    width: 582px;
}
#products{
    height: 60.9px;
    width: 505px;
}
#camera{
    width: 440px;
    height: 414px;
    margin-top: 50px;
    padding: 33px;
    background-image: url("images/Circle design.svg");
    background-size: 475px;
    background-repeat: no-repeat;
}
.logos{
    display: flex;
    justify-content: space-between;
    margin: 165px 100px 165px 69px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 36px 62px;
    align-items: center;
}
#popular{
    display: flex;
    justify-content: center;
    font-weight: 600px;
    font-size: 28px;
}
footer{
    background-color: #0A0826;
    display: flex;
    justify-content: center;
    color: white;
}
.social a{
    text-decoration: none;
    color: white;
}